<h1>Bienvenido a la App Sequelize</h1>
<form action="/initialize-db" method="POST">
    <button type="submit">Crear Tabla</button>
</form>
<form action="/drop-table" method="POST" style="margin-top: 20px;">
    <button type="submit">Borrar Tabla</button>
</form>